@import url('https://fonts.googleapis.com/css?family=Gaegu|Poor+Story&display=swap');





p{
    font-family: 'Poor Story', cursive;
}

h5{
    font-family: 'Poor Story', cursive;
}

a{
    font-family: 'Poor Story', cursive;
}
.contact_text {
    margin-bottom:0px !important;
}